:root {
  --white-color: #fff;
  --black-color: #000;
  --text-color: #333;
  --second-text-color: #555;
  --primary-color: #ee4d2d;
  --star-gold-color: #ffce3d;
  --btn-active-hover: #f05d40;

  --header-height: 120px;
  --navbar-height: 34px;
  --header-search-height: calc(var(--header-height) - var(--navbar-height));
  --header-sort-bar-height: 42px;
}

* {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  line-height: 1.6rem;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Build base responsive */
.grid__row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -5px;
  margin-right: -5px;
}

/* Test */
.grid__column-2 {
  padding-left: 5px;
  padding-right: 5px;
  width: 16.6667%;
}

.grid__column-4 {
  padding-left: 5px;
  padding-right: 5px;
  width: 33.333%;
}

.grid__column-2-4 {
  padding-left: 5px;
  padding-right: 5px;
  width: 20%;
}

.grid__column-10 {
  padding-left: 5px;
  padding-right: 5px;
  width: 83.3334%;
}

/* Animation */
@keyframes opacityIncrease {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes scaleIn {
  from {
    transform: scale(70%);
  }
  to {
    transform: scale(100%);
  }
}

/* Modal */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  animation: opacityIncrease 0.1s linear forwards;
}

.modal__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.modal__body {
  position: relative;
  margin: auto;
  z-index: 1;
  animation: scaleIn 0.1s linear forwards;
  transition: all 0.2s linear;
}

/* Button */
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 60px;
  height: 34px;
  text-decoration: none;
  border: none;
  border-radius: 2px;
  font-size: 1.4rem;
  outline: none;
  cursor: pointer;
  color: var(--text-color);
}

.btn.btn-normal--hover:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.btn.btn--primary {
  color: var(--white-color);
  background-color: var(--primary-color);
}

.btn.btn--disable {
  background-color: rgba(238, 77, 45, 0.7);
  color: var(--white-color);
  cursor: not-allowed;
}

/* Selection dropdown */
.select-input {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 34px;
  min-width: 200px;
  padding: 0 12px;
  border-radius: 2px;
  background-color: var(--white-color);
  font-size: 1.4rem;
}

.select-input:hover .select-input__list {
  display: block;
}

.select-input__list {
  display: none;
  position: absolute;
  top: calc(100% + 1px);
  left: 0;
  right: 0;
  z-index: 1;
  margin: 0;
  padding: 0;
  border-radius: 2px;
  background-color: var(--white-color);
  list-style: none;
}

.select-input__list::before {
  content: "";
  display: block;
  height: 14px;
  position: absolute;
  top: -12px;
  left: 0;
  right: 0;
}

.select-input__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 12px 10px 20px;
}

.select-input__item:first-child {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.select-input__item:last-child {
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

.select-input__item:hover {
  color: var(--primary-color);
  cursor: pointer;
}

.select-input__item .select-input__item-icon {
  display: none;
  font-size: 1.2rem;
  color: var(--primary-color);
}

.select-input__item--active .select-input__item-icon {
  display: block;
}

/* Pagination */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.pagination-item--active .pagination-item__btn {
  background-color: var(--primary-color);
  color: var(--white-color);
}


.pagination-item--active .pagination-item__btn:hover {
  background-color: var(--btn-active-hover);
}

.pagination-item + .pagination-item {
  margin-left: 30px;
}

.pagination-item__btn {
  --height: 30px;
  min-width: 40px;
  height: var(--height);
  background-color: #f5f5f5;
  color: #939393;
  font-size: 2rem;
  font-weight: 300;
  line-height: var(--height);
}

.pagination-item__btn--ellipsis {
  cursor: default;
}

.pagination-item__icon {
  font-size: 1.4rem;
}
