/* Mobile and Tablet */
@media (max-width: 63.9375em) {
  :root {
    --header-height: 63px;
    --navbar-height: 0;
  }

  .hide-on-mobile-tablet {
    display: none;
  }

  .header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
  }

  .header-search {
    height: var(--header-height);
    padding: 0;
  }

  .header-search__logo {
    margin: 0;
    text-align: left;
  }

  .header-search__logo-link {
    display: block;
    padding: 8px 0 8px 22px;
  }

  .header-search__logo-img {
    display: none;
  }

  i.header-search__logo-icon {
    display: block;
  }

  .header-search__history,
  .header-search__dropdown-options {
    z-index: 11;
  }

  .header-search__cart-list {
    width: 100vw;
    position: fixed;
    top: calc(var(--header-height) + var(--header-sort-bar-height));
    left: 0;
    right: 0;
    max-height: 100%;
    overflow: hidden;
    padding: 0 calc((100% - 644px) / 2);
    animation: slideInDown 0.3s ease-in;
  }

  .header-search__cart-list::before {
    display: none;
  }

  @keyframes slideInDown {
    from {
      max-height: 0;
    }
    to {
      max-height: 100%;
    }
  }

  .header__sort-bar {
    display: flex;
  }

  .app__content {
    margin-top: calc(var(--header-height) + var(--header-sort-bar-height));
  }

  .category__back-link {
    display: none;
  }
}

/* Table */
@media (min-width: 46.25em) and (max-width: 63.9375em) {
  .hide-on-tablet {
    display: none;
  }
}

/* Mobile */
@media (max-width: 46.1875em) {
  .hide-on-mobile {
    display: none;
  }

  .header {
    height: var(--header-height);
    background: var(--white-color);
  }

  i.header-search__logo-icon {
    color: var(--primary-color);
  }

  .header-search__cart-icon,
  .header-search__cart-icon i {
    color: var(--primary-color);
  }

  .header-search__box-input {
    background-color: #f2f2f2;
  }

  .header-search__history,
  .header-search__dropdown,
  .header-search__btn {
    display: none !important;
  }
  
  .header-search__box-wrap::after {
    display: none;
  }
}
