/* Mobile and Tablet */
@media (max-width: 63.9375em) {
  :root {
    --header-height: 63px;
    --navbar-height: 0;
  }

  .hide-on-mobile-tablet {
    display: none;
  }

  .header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
  }

  .header-search {
    height: var(--header-height);
    padding: 0;
  }

  .header-search__logo {
    flex: 0;
    margin: 0;
    text-align: left;
  }

  .header-search__logo-link {
    display: block;
    padding: 12px 20px 12px 12px;
  }

  .header-search__logo-img {
    display: none;
  }

  i.header-search__logo-icon {
    display: block;
  }

  .header-search__history,
  .header-search__dropdown-options {
    z-index: 11;
  }

  .header-search__cart-list {
    width: 100vw;
    position: fixed;
    top: calc(var(--header-height) + var(--header-sort-bar-height));
    left: 0;
    right: 0;
    max-height: 100%;
    overflow: hidden;
    padding: 0 calc((100% - 644px) / 2);
    animation: slideInDown 0.3s ease-in;
  }

  .header-search__cart-list::before {
    display: none;
  }

  @keyframes slideInDown {
    from {
      max-height: 0;
    }
    to {
      max-height: 100%;
    }
  }

  .header__sort-bar {
    display: flex;
  }

  i.header-mobile__more-icon {
    display: block;
  }

  #header-mobile__checkbox:checked ~ .header-mobile__overlay {
    display: block;
  }

  #header-mobile__checkbox:checked ~ .header-mobile__category {
    transform: translateX(0);
  }

  .app__content {
    margin-top: calc(var(--header-height) + var(--header-sort-bar-height));
  }

  .category__back-link {
    display: none;
  }

  .mobile-category__list {
    display: flex;
  }

  .footer-policy__address {
    padding: 0 12px;
    line-height: 2;
    margin: 0;
  }
}

/* Tablet */
@media (min-width: 46.25em) and (max-width: 63.9375em) {
  .hide-on-tablet {
    display: none;
  }

  i.header-mobile__more-icon {
    display: block;
    color: var(--white-color);
  }

  .header-mobile__category {
    width: 50%;
  }

  .mobile-category__link {
    width: calc(100vw / 4.5);
  }

  .footer-warranty {
    padding: 40px 8px;
  }

  .footer-right {
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .footer-right__country {
    margin-top: 12px;
  }

  .footer-policy__item:last-child {
    margin-top: 12px;
  }
}

/* Mobile */
@media (max-width: 46.1875em) {
  .hide-on-mobile {
    display: none;
  }

  .header {
    height: var(--header-height);
    background: var(--white-color);
  }

  i.header-search__logo-icon {
    color: var(--primary-color);
  }

  .header-search__cart-icon,
  .header-search__cart-icon i {
    color: var(--primary-color);
  }

  .header-search__box-input,
  .header-search__box-container {
    background-color: #f2f2f2;
    font-size: 1.4rem;
  }

  i.header-search__box-icon-mobile {
    display: block;
  }

  .header-search__history,
  .header-search__dropdown,
  .header-search__btn {
    display: none !important;
  }

  .header-search__box-wrap::after {
    display: none;
  }

  .header-search__cart {
    margin: 0 8px;
  }

  .header-search__cart-icon {
    -webkit-tap-highlight-color: transparent;
  }

  .app__content {
    margin-left: 4px;
    margin-right: 4px;
  }

  .category__range {
    background-color: #f5f5f5;
    padding: 10px 10px;
    margin: 12px 12px 0;
    border-radius: 2px;
  }

  .category__range-cross {
    font-size: 1.6rem;
  }

  .category__range-input {
    border: none;
    padding: 10px 3px;
  }

  .category__range-input::placeholder {
    color: #c0c0c0;
  }

  .pagination-item + .pagination-item {
    margin-left: 0;
  }

  .pagination-item__btn {
    --height: 28px;
    min-width: 36px;
    font-size: 1.6rem;
  }

  .footer-warranty {
    border-bottom: none;
    margin-bottom: 0;
  }

  .footer__container {
    padding: 0 16px;
  }

  .footer-right {
    justify-content: center;
  }

  .footer-policy__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 20px 16px;
  }

  .footer-policy__item {
    width: 50%;
  }

  .footer-policy__link {
    display: block;
    position: relative;
    padding: 0;
    border: none;
    text-align: left;
    font-size: 1rem;
    line-height: 2.4rem;
  }

  .footer-policy__item:nth-of-type(2n + 1) .footer-policy__link::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10%;
    height: 70%;
    border-right: 1px solid #ccc;
  }

  .footer-policy__reward {
    flex-wrap: wrap;
  }

  .footer-policy__reward-link {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .footer-policy__reward-item {
    margin: 0;
  }
}
